<!doctype html>
<html lang="en">
  <head>
    <title>Quest Screen – {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/syntax-github.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  </head>
  <body>
    <nav>
      <a class="header">
        <span class="title">{{ site.title }}</span>
        <i class="fas fa-caret-down"></i>
      </a>
      <ul>
        {% assign pages = site.pages | where_exp:"item","item.weight > 0" | sort:"weight" %}
        {% for p in pages %}{% unless p.weight <= 0 or p.parent %}
        <li{% if p.url == page.url %} class="active"{% endif %}>
          <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% if page.url == p.url or page.parent == p.url %}
        {% for q in pages %}{% if q.parent == p.url %}
        <li class="subentry{% if q.url == page.url %} active{% endif %}">
          <a href="{{ q.url }}">{{q.title}}</a>
        </li>
        {% endif %}{% endfor %}{% endif %}{% endunless %}{% endfor %}
        <li class="sep"></li>
        <li>
          <a href="https://github.com/QuestScreen"><i class="fab fa-github"></i>GitHub</a>
        </li>
      </ul>
    </nav>
    <main>
      <div class="pagetitle">
        {% if page.breadcrumb -%}
        <div class="breadcrumb">{{ page.breadcrumb }}</div>
        {%- endif -%}
        <h1>{{ page.title }}</h1>
        {% if page.linkedfile -%}
        <section class="highlighted">
          <p><i class="fas fa-file"></i></p>
          <div><code>{{page.linkedfile}}</code></div>
        </section>
        {%- endif %}
      </div>

      {{content}}
    </main>

    <script>
      document.querySelector("a.header").addEventListener("click", function(e) {
        const nav = this.parentNode;
        if (nav.classList.contains("expanded")) {
          nav.classList.remove("expanded");
          this.children[1].classList.add("fa-caret-down");
          this.children[1].classList.remove("fa-caret-up");
        } else {
          nav.classList.add("expanded");
          this.children[1].classList.remove("fa-caret-down");
          this.children[1].classList.add("fa-caret-up");
        }
        e.preventDefault();
      });
    </script>
  </body>
</html>